pyTelegramBotAPI
python-dotenv
gunicorn
requests
Flask
gevent
langchain_community
google-generativeai>=0.7.2
langchain>=0.2.0
langchain-community>=0.2.0
langchain-google-genai>=1.0.0
faiss-cpu>=1.8.0.post1
weasyprint>=62.0
pillow
tinycss2
cssselect2
Flask-Cors
pandas>=2.0.0
openpyxl>=3.1.0
reportlab==4.0.7